
// 住宿頁卡片元件
.card-wrap{

  display: flex;
  flex-wrap: wrap;
  // margin: auto;
  // max-width: 1800px;
}


.h-card {

  margin: 20px;
  background-color: #fefceb;
  padding: 10px;
  position: relative;
  width: calc(50% - 100px);

  //奇數欄卡片
  &:nth-child(odd){
    margin: 20px 80px 20px 20px;
  }
}

.h-card-left {
  color: #515151;
  padding: 10px;
  padding-top: 20px;
  .h-card-footer {
    padding-top: 40px;
  }
  button {
    background-color: #fcf09a;
    border: none;
    border-radius: 5px;
    width: 75%;
    padding: 10px;

    padding-top: 20px;
    .h-card-footer{
        padding-top: 40px;
        span{
          margin-right: 10px;
        }
    }
    // button{
    //     background-color:  #FCF09A;
    //     border: none;
    //     border-radius: 5px;
    //     width: 50%;
    //     padding: 10px;
        
    // }
}
.h-card-right {
    position: absolute;
    right: -50px;
    top: -10px;
    img{
        width: 100%;
        border-radius: 18px;
        height: 31vh;
        object-fit: cover;
    }

}
.h-card {
  display: flex;
  background-color: #fefceb;
  padding: 10px;
  position: relative;
}

/*商品頁卡片元件*/
.productCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: var(--light-yellow);
  min-width: 360px;
  height: 360px;
  border-radius: 30px;
  padding: 30px;
  & .text-part {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    & .title {
      font-size: 36px;
      font-weight: 900;
    }

      & .description {
      font-size: var(--font-size-h2);
      color: var(--text-black);
      width: 50%;
      font-weight: 700;
      margin-block: 10px 15px;
    }
    & .price {
      font-size: var(--font-size-h2);
      color: var(--text-black);
      font-family: sans-serif;
    // & .buttons{
    //     display: flex;
    //     & .button-collection{
    //         border: none;
    //         background-color: transparent;
    //         font-weight: 700;
    //         color: var(--text-black);
    //         font-size: 28px;
    //     }
    //     & .button-moreInfo{
    //         border: none;
    //         background-color: var(--secondary);
    //         font-size: var(--font-size-h2);
    //         font-weight: 700;
    //         color: var(--text-black);
    //         border-radius: var(--button-radius-2);
    //         padding:0px 20px;
    //         margin-inline: 5px;
    //     }
    // }
    & img{
        position: absolute;
        width: 42%;
        height: 80%;
        right: -12%;
        top: 12%;

    }
  }

  & .buttons {
    display: flex;
    & .button-collection {
      border: none;
      background-color: transparent;
      font-weight: 700;
      color: var(--text-black);
      font-size: 28px;
    }
    & .button-moreInfo {
      border: none;
      background-color: var(--secondary);
      font-size: var(--font-size-h2);
      font-weight: 700;
      color: var(--text-black);
      border-radius: var(--button-radius-2);
      padding: 0px 20px;
      margin-inline: 5px;
    }
  }
  & img {
    position: absolute;
    width: 42%;
    height: 80%;
    right: -12%;
    top: 12%;
  }
}
