.cart__sidebar{
    width: 100%;
    height: 100%;
    background-color:rgba(71, 187, 232, 0.2);
    display: flex;
    justify-content: end;
    padding: 10px;
    .cart__body{
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25%;
        height: 100%;
        background-color:var(--primary) ;
    }
}