.cart__sidebar {
  width: 100%;
  height: 100%;
  background-color: rgba(71, 187, 232, 0.2);
  display: flex;
  justify-content: end;
  padding: 10px;
  .shopping__cart {
    width: 25%;
    height: 100%;
    background-color: var(--primary);
    border-radius: 10px;
    .cart__body {
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      &.aside {
        margin: auto;
      }
    }
  }
  a {
    color: var(--text-black);
    text-decoration: none;

    &:hover {
      color: var(--light-blue);
    }
  }
}
