* {
    margin: 0;
    box-sizing: border-box;
    /* border: red 1px solid; */
    font-size: 24px;
}

.wrap {
    display: flex;
}

.nav {
    background-color: #47BBE8;
    width: 15%;
    height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    img {
        // display: block;
        // margin: auto;
        // width: 80%;
        // height: 100px;
        padding: 15px;
        width: 100%;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-inline-start: 0;
}

// .sidebar > img{
//     width: 80%;
//     height: 80%;
// }

.menu ul {
    width: 100%;
    list-style: none;
    text-align: center;
    margin-top: 50px;
    margin-left: 0;
    padding-left: 0;
}

.menu li {
    padding-top: 15px;
}

.menu ul>li>a {
    color: #FFF;
}


.ability-train>a {
    border: 3px solid #FFF;
    border-radius: 50% 50%;
    width: 50px;
    height: 50px;
    color: #FFF;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-border {
    background-color: #47BBE8;
    height: 100vh;
    width: 85%;
    padding: 20px 20px 20px 0;
}

.content {
    // border: 1px solid #FFF;
    width: 100%;
    height: calc(100vh - 40px);
    background-color: #FFF;
    border-radius: 15px;
    overflow-x: hidden;
}

.content>img {
    width: 100%;
    object-fit: cover;
}

.div {
    display: flex;
}

a:link {
    text-decoration: none;
}


// h1{
//     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
//     font-size: 32px;
//     color: #FFF;
//     text-shadow: 3px 2px 2px #47BBE8;
//     position: absolute;
//     top:50vh;
//     left: 20%;
// }
.cart {
    width: 40px;
    height: 40px;
    padding: 5px;
    // font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #47BBE8;
    border-radius: 50% 50%;
    background-color: #47BBE8;
    position: absolute;
    top: 92vh;
    right: 25px;

    a {
        color: #FFF;
        text-decoration: none;
    }
}

// main{
//     box-sizing: border-box;
//     margin-left: 15%;
//     padding-bottom: 50px;

//     .radiusbottom::before {
//         content: "";
//         display: block;
//         background-image: url(../img/layout/radius.svg);
//         background-repeat: no-repeat;
//         width: 10px;
//         height: 10px;
//         background-size: 10px;
//         position: fixed;
//         bottom: 9px;
//         z-index: 10;
//     }

//     .radiusbottom::after {
//         content: "";
//         display: block;
//         background-image: url(../img/layout/radius.svg);
//         background-repeat: no-repeat;
//         transform: rotate(270deg);
//         width: 10px;
//         height: 10px;
//         background-size: 10px;
//         position: fixed;
//         // right: 0.8%;
//         // top: 582px;
//         bottom: 9px;
//         right: 9px;
//         z-index: 10;
//     }

//     .radiustop::before {
//         content: "";
//         display: block;
//         background-image: url(../img/layout/radius.svg);
//         transform: rotatex(180deg);
//         background-repeat: no-repeat;
//         width: 10px;
//         height: 10px;
//         background-size: 10px;
//         position: fixed;
//         top: 9px;
//         z-index: 10;
//     }

//     .radiustop::after {
//         content: "";
//         display: block;
//         background-image: url(../img/layout/radius.svg);
//         transform: rotate(180deg);
//         background-repeat: no-repeat;
//         width: 10px;
//         height: 10px;
//         background-size: 10px;
//         position: fixed;
//         top: 9px;
//         right: 9px;
//         z-index: 10;
//     }



// }