* {
  box-sizing: border-box;
  margin: 0;
}

aside {
  margin: 15px 0;
}

.order-step-guide>.row {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  gap: 10px;
  margin: auto;
  align-items: center;
  /* padding: 10px 370px; */
}

.col {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.step1,
.step2,
.step3 {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50% 50%;
  background-color: #47BBE8;
  opacity: 0.5;
  margin: 0;
  font-family: 'Tahoma';
  font-size: 50px;
  font-weight: 700;
  color: #FFF;
  text-shadow: #733B3B 2px 2px 1px;
}

.stepline {
  width: 150px;
  height: 2px;
  border-top: #47BBE8 2px solid;
}

.steptext {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 126px;
  color: #000;
  margin: 0;
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 700;
}

.checkoutFlow {
  max-width: 80vw;
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 28px;
}

.tabs {
  display: flex;
  flex-wrap: wrap;

  /* max-width: 400px; */
  font-family: sans-serif;
}

.tabs__label {
  padding: 10px 16px;
  cursor: pointer;
  background-color: #DAF1FA;
  border-radius: 5px 5px 0 0;
}

.tabs__radio {
  display: none;
}

.tabs__content {
  order: 1;
  width: 100%;
  line-height: 1.5;
  font-size: 0.9em;
  display: none;
}

.tabs__radio:checked+.tabs__label {
  background-color: #47BBE8;
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #47BBE8;
}

.tabs__radio:checked+.tabs__label+.tabs__content {
  /* 恢復預設(display) */
  display: initial;
}

table {
  /* background-color: #DAF1FA; */
  border: 10px solid #DAF1FA;
  border-radius: 0 10px 10px 10px;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: fixed;
  text-align: center;
}

td {
  background-color: #FFF;
  padding: 0;
  text-align: center;
  margin-bottom: 10px;
}

tbody>tr:last-child>td {
  margin: 0;
}

th {
  background-color: #DAF1FA;
  padding-bottom: 5px;
}

td>img {
  max-width: 100%;
}

tr>td:first-child {
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkout-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.total-amount {
  margin-right: 10px;
}

.continue-shopping-btn {
  cursor: pointer;
  margin-right: 10px;
  background-color: #FFF;
  border: 3px solid #DAF1FA;
  border-radius: 45px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
}

.continue-shopping-btn:hover {
  background-color: #FFF;
  border: 3px solid #47BBE8;
}

.next-step-btn {
  cursor: pointer;
  background-color: #DAF1FA;
  border: 3px solid #DAF1FA;
  border-radius: 45px;
  padding: 10px 10px;
  font-size: 16px;
  font-weight: bold;
}

.next-step-btn:hover {
  background-color: #47BBE8;
  border: 3px solid #47BBE8;
}

.recommended-products {
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.recommended-products>h1 {
  display: block;
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
}

.product-title::after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  border-top: 1px solid #DB9566;
}