.course-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100% - 10px);
   height: calc(100vh - 20px);
    .upper-part{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
         

         
    }
    .tag{
        padding: 0.5vmax 1.5vmax;
         background-color: #FCF09A;
         border-radius: 2vmax;
         margin-inline: 1vmax;
         border: none;
         transition: 0.5s;
         &:hover{
            filter: brightness(105%);
         }
     }
    .photos{
       
        padding: 2vmax 2vmax 2vmax 1vmax;
        height: 60%;
        display: grid;
        grid-template-columns: 39% 22% 39%;
       grid-template-rows: 50% 50%;
       gap: 1vmax 0.5vmax;
       .big-photo-one{
       grid-column: 1 / span 1;
        grid-row:1 /  span 2;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
       }
       .big-photo-two{
       grid-column: 3 / span 1;
        grid-row:1 /  span 2;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
       }
       .small-photo-one{
       grid-column: 2 / span 1;
        grid-row:1 / span 1;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
       }
       .small-photo-two{
        grid-column: 2 / span 1;
        grid-row:2 / span 1;
        & img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
       }
    }
}
 


.tags{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .search-bar{
        margin: 1vmax;
        background-color: #FEFCEB;
        border-radius: 1vmax;
        #search{
            outline: none;
            border: none;
            background: none;
         
          
            padding: 0.5vmax;
     }
     #search-button{
            background: none;
            border: none;
           
            
          
            padding: 0.5vmax;
    }
     }
}
.course-search-results{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

 .course-detail-container{
    display: flex;
   min-height: calc(100vh - 20px) ;
   align-items: flex-end;
   padding: 2.5vmax 2vmax;
    & .course-detail-photo-wrapper{
        width: 65%;
        height: 70vh;
        margin-inline: 1vmax;
        & img{
            width: 100%;
            height: 70vh;
            border-radius: 0.5vmax;
        }
    }
    & .course-detail-information{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 57%;
        height: 70vh;
        & > *{
            margin-block: 0;
        }
        & .product-button-wrapper{
            width: 100%;
            display: flex;
            justify-content: space-around;
        }
    }
 }  
