@import '_default.scss';
// 導入bootstrap所有的樣式與預設變數
main{
    box-sizing: border-box;
    margin-left: 15%;
    padding-bottom: 50px;

    .radiusbottom::before {
        content: "";
        display: block;
        background-image: url(../img/layout/radius.svg);
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        background-size: 10px;
        position: fixed;
        bottom: 9px;
        z-index: 10;
    }

    .radiusbottom::after {
        content: "";
        display: block;
        background-image: url(../img/layout/radius.svg);
        background-repeat: no-repeat;
        transform: rotate(270deg);
        width: 10px;
        height: 10px;
        background-size: 10px;
        position: fixed;
        // right: 0.8%;
        // top: 582px;
        bottom: 9px;
        right: 9px;
        z-index: 10;
    }

    .radiustop::before {
        content: "";
        display: block;
        background-image: url(../img/layout/radius.svg);
        transform: rotatex(180deg);
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        background-size: 10px;
        position: fixed;
        top: 9px;
        z-index: 10;
    }

    .radiustop::after {
        content: "";
        display: block;
        background-image: url(../img/layout/radius.svg);
        transform: rotate(180deg);
        background-repeat: no-repeat;
        width: 10px;
        height: 10px;
        background-size: 10px;
        position: fixed;
        top: 9px;
        right: 9px;
        z-index: 10;
    }
    


}


@import '~bootstrap/scss/bootstrap';
// 其他自訂樣式
@import '_layout.scss';
@import '_card.scss';
@import 'reserve.scss';
@import 'registerMember.scss';
@import 'editMember.scss';
@import 'login.scss';
@import 'productDetails.scss';
@import 'addPet.scss';

@import '_button.scss';
@import '_form.scss';
@import 'checkoutFlow.scss';
@import '_cart.scss';
@import 'header.scss';
@import 'headerSearch.scss';
@import 'homepage.scss';
@import 'activity.scss';

