.orderTitle{
  text-align: center;
  margin: 50px auto;
}
.click{
  display: flex;
  // justify-content: center;
  align-items:flex-start;
  cursor: pointer;
}
.checkoutFlow{
  .more-button{
    color: var(--light-blue);
    &:hover{
      color: var(--primary);
    }
  }
}