div.productPage {
  width: 95%;
  margin: auto;
  .swiper-width {
    img {
      width: 80%;
    }
  }
  div.productContent {
    // width: 100%;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    gap: 50px;
  }
}
