.rc-container{
  display: flex;
  margin:0 3rem;
  .rc-content-left{
    width: 50%;
    padding: 30px;
    .rc-text-header{
      font-size: var(--font-size-header);
      font-weight: bold;
      margin-bottom: 1rem;
    }
    .rc-title{
      margin-bottom: 0.5rem;
      font-weight: bold;

    }
  }
  .rc-content-right{
    width: 50%;
    margin: 5rem 0 0 0;
    border: 15px solid var(--light-blue);
    border-radius: 10px;
    box-shadow: 4 4 8 -1 #000000 75%;
    background-color: var(--light-blue);
    .r-wrap{
      margin: 0px;
      padding: 30px;
      border: 1px solid var(--light-blue);
      background-color: white;
      border-radius:calc(25px - 15px);
    }
    width: 50%;
  }
}
.rc-date {
  margin-bottom: 1rem;
}
.pr-1{
  padding-right: 10px;
}
.pl-1{
  padding-left: 10px;
}