
.rd-wrap{
  margin: auto;
  padding:10px 40px;
}

.banner{
    margin: auto;
    // max-width: 1800px;
    display: flex;
    .rd-img-left{
        margin: 10px 5px 10px 10px;
        width: 50%;
        height: 300px;
        background-image: url(../img/hotels/standard-double-room.jpg);
        background-size: cover;
            
    }
    .rd-img-right{
        margin: 5px 0;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        
        .img{
            width: calc(50% - 10px);
            margin: 5px;
            height: 145px;
            background-size: cover;
        }
        .img1{
            
            
            background-image: url(../img/hotels/toilet.jpg);
        }
        .img2{
            
            
            background-image: url(../img/hotels/standard-round.jpg);
        }
        .img3{
            
            background-image: url(../img/hotels/standard-round1.jpg);
        }
        .img4{
        
            background-image: url(../img/hotels/standard-round2.jpg);
        }
    }
}


.rd-container{
    display: flex;
    margin: auto;
    .rd-content-left {
      width: 50%;
  }
    .rd-content-right {
    width: 50%;
    padding: 30px;
    border: 1px solid var(--text-black);
  }
    .title{
        display: flex;
    }
}
.price-day{
    display: flex;
    justify-content: space-between;
}
.price-pet{
    display: flex;
}
.total-price{
    display: flex;
    justify-content: space-between
}
.r-btn-blue{
    background-color: #DAF1FA;
}

// .r-wrap{
//     border: 1px solid #515151;
//     padding: 30px;
// }
.r-form{
  margin: 30px 0;
  .r-form-day{
    display: flex;
    justify-content: space-around;
    .check-in,.check-out{
      display: flex;
      justify-content: center;
      width: 50%;
    }
    p,span{
        margin-top: 5px;
    }
    .r-form-child,.r-form-pet,.r-form-adult{
        display: flex;
        
    }
  }
}
.r-form-adult, .r-form-child, .r-form-pet{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}


.choose-pet-section{
    img{

        width: 100px;
        // height: 100px;
    }
}
.r-btn-box{
  display: flex;
  justify-content: space-evenly;
  button{
    width: 50%;
  }
  .mr-10px{
    margin-right: 10px;
  }
  .ml-10px{
    margin-left: 10px;
  }
}