
* {
    margin: 0;
    box-sizing: border-box;
    /* border: red 1px solid; */
    font-size: 24px;
    /* background-color: #47BBE8; */
    list-style: none;
    text-decoration: none;
} 
/* header nav */
.breadcrumbList{
    display: flex;
    padding-inline-start: 0;
}
.breadcrumbList > li{
    padding: 10px 10px 10px 0;
    color: #696969;
    
}
.breadcrumbList > li > a{
        color: #696969;
}
    
li::after {
    content: "/";
    color: #696969;
    padding-left: 10px;
}

li:nth-last-child(1)::after,em{
    content: "";
    color: #696969;
    font-style: normal;
    font-weight: bold;
}
/* 商品介紹區 */
.introduction{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.prouductImg {
    min-width: 600px;
    min-height: 600px;
    background: url(./ziphaus-Sm7ebvMgi-E-unsplash.jpg);
    object-fit: contain;
    border: 8px solid #EDC975;
    border-radius: 15px;
    flex-shrink: 0;
}
.introductionText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 72px;
}

/* 收藏按鈕 */

.addToFavorites{
    background-color: #FFF;
    border: 10px solid #DAF1FA;
    border-radius: 45px;
    text-decoration:dashed;
    padding: 0 15px 0 15px;
    line-height: 38px;
}