* {
    margin: 0;
    box-sizing: border-box;
    /* border: red 1px solid; */
    font-size: 24px;
    /* background-color: #47BBE8; */
    list-style: none;
    text-decoration: none;
} 
/* header nav */
.breadcrumbList{
    display: flex;
    padding-inline-start: 0;
}
.breadcrumbList > li{
    padding: 10px 10px 10px 0;
    color: #696969;
    
}
.breadcrumbList > li > a{
        color: #696969;
}
    
li::after {
    content: "/";
    color: #696969;
    padding-left: 10px;
}

li:nth-last-child(1)::after,em{
    content: "";
    color: #696969;
    font-style: normal;
    font-weight: bold;
}